html, body, div, span, h1, h2, h3, p, a, em, img, ol, ul, li, fieldset,
form, label, legend, table, tbody,
tfoot, thead, tr, th, td,
footer, header, menu, nav,
section {
	margin: 0;
    padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
	}

html {
    box-sizing: border-box;
    }

ul{
    list-style: none;
}
a{
    text-decoration: none;
}

/*************************************************************/
/***********************barre navigation************************/
/*************************************************************/

nav{
    /*background-color: black;*/
    color: aliceblue;
    height: 30px;
    width: 43vw;
    display: flex;
    justify-content: center;
    padding-top: 1vh;
    /*padding-left: 100px;*/
    margin-left: 3.5vw;
    padding-bottom: 20px;
    border-radius: 20px;
    border: 1px solid #28272700;
    -webkit-appearance: none;
    box-shadow: -2px -2px 2px rgba(53, 52, 52, 0.8), 3px 3px 3px rgba(0, 0, 0, 0.7);
}
.darkNav{
    
}
nav ul li{
    display: inline-block;
    margin-right: 30px;
}
nav ul li a {
    color: #424040;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2em;
    padding: 5px 20px 5px 20px;
}
nav ul li:hover {
    border: 1px solid #28272700;
    border-radius: 15px;
    box-shadow: inset -2px -2px 0px rgba(53, 52, 52, 0.8), inset 1px 1px 2px rgba(0, 0, 0, 0.7);
}
.activeNav {
    color: rgb(6,222,252);
    text-shadow:
    0 0 5px rgb(6, 163, 252),
    0 0 10px rgb(6, 163, 252),
    0 0 20px rgb(6, 163, 252),
    0 0 40px rgb(255, 255, 255),
    0 0 80px rgb(255, 255, 255);
    
    border-bottom: 1px solid rgb(6,222,252);
    /*border-radius: 8px;
    box-shadow: 0 0 15px -1px rgb(6,163,252), 
    0 0 12px -1px rgb(6,222,252) inset;*/
}
#navBar{
    /*background-color: black;*/
    position: fixed;
    /*display: none;*/
    width: 100%;
    z-index: 8;
    transition: top 0.3s;
    top: 4vh;
}

/************************************************************/
/******************HAMBURGER MENU************************/
/************************************************************/
#hamburger, #hamburger-content{
    display: inline;
}
#hamburger-button{
    display: none;
    cursor: pointer;
    background: none;
    border: none;
    font-size: 50px;
    color: #5e5e5e;
    padding: 0;
    vertical-align: top;
    line-height: 47px;
    float: left;
    margin-left: 10px;
}
#hamburger-overlay{
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0,  .4);
}
#hamburger-sidebar{
    display: none;
    position: fixed;
    width: 84%;
    z-index: 1020;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(14, 13, 13);
    transform: translateX(-100%);
    transition: transform .2s ease-out;
}
#hamburger-sidebar li{
    display: block;
    margin-right: 0;
}
#hamburger-sidebar nav{
    text-align: justify;
    
}
#hamburger-sidebar-header{
    background-color: rgb(28, 103, 243);
    height: 128px;
}
#hamburger-sidebar-body li:before{
    content: '      ';
    display: inline-block;
    vertical-align: middle;
    width: 35px;
    height: 24px;
    margin-right: 16px;
    margin-bottom: 14px;
}
#hamburger-sidebar-body li:first-child:before{
    background-image: url(./images/svg/home1.svg);
}
#hamburger-sidebar-body li:nth-child(2):before{
    background-image: url(./images/svg/suitcase1.svg);
}
#hamburger-sidebar-body li:nth-child(3):before{
    background-image: url(./images/svg/user1.svg);
}
#hamburger-sidebar-body li:nth-child(4):before{
    background-image: url(./images/svg/email1.svg);
}

@media screen and (max-width: 1024px){

    #hamburger-content{
        display: none;
    }
    #hamburger-button, 
    .hamburger-activated{
        display: block;
    }
    #hamburger-button{
        position: fixed;
        z-index: 2;
    }
    .hamburger-activated, #hamburger-sidebar{
        transform: translateX(0);
    }
}

/*************************************************************/
/**************************HEADER BLOCK*********************/
/*************************************************************/

header{
    /*background-color: red;*/
    /*background-image: url(../css/images/fond.jpg);*/
    background:  #222;
    background-size: cover;
    height: 100vh;
}
#globaleHeader{
    /*background-color: ivory;*/
    /*padding-top: 100px;*/
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100vh;
}
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 20px;
    top: 4vh;
    left: 79vw;
}      
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}      
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #222;
    box-shadow: inset -2px -2px 2px rgba(53, 52, 52, 0.8),  inset 3px 3px 3px rgba(0, 0, 0, 0.7);
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    bottom: -0.7vh;
    background-color: #222;
    box-shadow: -2px -2px 2px rgba(53, 52, 52, 0.8), 3px 3px 3px rgba(0, 0, 0, 0.7);
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}      
      /* Rounded sliders */
.slider.round {
    border-radius: 34px;
}      
.slider.round:before {
    border-radius: 50%;
}
.switch{
    display: none;
}
#leftHeader{
    /*background-color: rgb(14, 207, 14);*/
    width: 43vw;
    height: 68vh;
    margin-top: 16.5vh;
    /*margin-left: 5%;*/
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 1px solid #28272700;
    border-radius: 10px;
    box-shadow: inset -4px -4px 0px rgba(53, 52, 52, 0.8), inset 1px 1px 5px rgba(0, 0, 0, 0.7);
}

#leftHeader h1{
    display: none;
    font-size: calc(56px + (52 - 36) * ((100vw - 1024px) / (1920 - 1024)));  
   color: #424040;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}
h1#titre span{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: -webkit-linear-gradient(rgb(6,163,252), rgb(6,222,252));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}
.light{
    text-shadow:
    0 0 5px rgb(6, 163, 252),
    0 0 10px rgb(6, 163, 252),
    0 0 20px rgb(6, 163, 252),
    0 0 40px rgb(6, 222, 252),
    0 0 80px rgb(6, 222, 252),
    0 0 90px rgb(6, 222, 252),
    0 0 100px rgb(6, 222, 252),
    0 0 150px rgb(6, 222, 252);
}
#leftHeader h2#titre1{
    font-size: calc(40px + (52 - 36) * ((100vw - 1024px) / (1920 - 1024)));  
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    height: 10vh;
    color: #424040;
    width: 37vw;
    align-self: center;
    padding-top: 3vh;
    border: 1px solid #28272700;
    border-radius: 20px;
    box-shadow: -2px -2px 2px rgba(53, 52, 52, 0.8),  3px 3px 3px rgba(0, 0, 0, 0.7);
    cursor: pointer;
}
#leftHeader h2#titre2{
    display: none;
    visibility: hidden;
    font-size: calc(40px + (52 - 36) * ((100vw - 1024px) / (1920 - 1024)));  
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    height: 10vh;
    color: #424040;
    width: 37vw;
    align-self: center;
    padding-top: 3vh;
    border: 1px solid #28272700;
    border-radius: 20px;
    box-shadow: inset -4px -4px 0px rgba(53, 52, 52, 0.8), inset 1px 1px 5px rgba(0, 0, 0, 0.7);
    cursor: pointer;
}
#leftHeader button{
    display: none;
    align-self: center;
    font-size: calc(14px + (52 - 36) * ((100vw - 1024px) / (1920 - 1024)));  
    background-color: inherit;
    color: #fff;
    padding: 20px;
    border: 1px solid #28272700 ;
    border-radius: 100px;
    cursor: pointer;
    height: 8vh;
    width: 4.3vw;
    box-shadow: -2px -2px 0px rgba(53, 52, 52, 0.8), 3px 3px 2px rgba(0, 0, 0, 0.7);
}
#leftHeader button a {
    color: #fff;
}
#leftHeader button a:hover {
    color: rgb(6, 222, 252);
}
#leftHeader button:hover{
    box-shadow: inset -3px -3px 0px rgba(53, 52, 52, 0.8), inset 1px 1px 2px rgba(0, 0, 0, 0.7);
}
#leftHeader button:active{
    color: rgb(6,222,252);
    text-shadow:
    0 0 5px rgb(6, 163, 252),
    0 0 10px rgb(6, 163, 252),
    0 0 20px rgb(6, 163, 252),
    0 0 40px rgb(6, 222, 252),
    0 0 80px rgb(6, 222, 252),
    0 0 90px rgb(6, 222, 252),
    0 0 100px rgb(6, 222, 252),
    0 0 150px rgb(6, 222, 252);
    border: 1px solid rgb(6,222,252);
    box-shadow: 0 0 15px -1px rgb(6,163,252), 
    0 0 12px -1px rgb(6,222,252) inset;
}
#rightHeader{
    background-color: rgba(8, 8, 8, 0);
    width: 43vw;
    height: 68vh;
    margin-top: 16.5vh;
    display: flex;
    /*flex-direction: column;*/
    justify-content: center;
    border: 1px solid #28272700;
    -webkit-appearance: none;
    box-shadow: -2px -2px 2px rgba(53, 52, 52, 0.8), 3px 3px 3px rgba(0, 0, 0, 0.7);
    border-radius: 10px;
}
#rightHeader img{
    display: none;
    height: 65vh;
    margin-top: 2vh;
    /*margin-right: 1.5vw;*/
}
/*.icon-scroll,
.icon-scroll:before{
    position: absolute;
    left: 50%;
}
.icon-scroll{
    display: none;
    width: 40px;
    height: 70px;
    margin-left: -20px;
    top: 90%;
    margin-top: -35px;
    box-shadow: inset 0 0 0 1px #fff;
    border-radius: 25px;
}
.icon-scroll:before{
    content: '';
    width: 8px;
    height: 8px;
    background: #fff;
    margin-left: -4px;
    top: 8px;
    border-radius: 4px;
    animation-duration: 1.5s;
    -webkit-animation-duration: 1.5s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    animation-name: scroll;
    -webkit-animation-name: scroll;
}*/
/*#icon-scroll {
    background: #0e0d0d;
    border: 10px solid #6B6B6B;
    }
    #icon-scroll:after, #icon-scroll:before {
    top: 10%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    border-color: rgba(255, 255, 255, 0);
    }
    #icon-scroll:before {
    border-top-color: rgb(14, 219, 41) !important;
    margin-left: -30px;
    border-width: 30px;
    border-radius: 40px;
    }
    #icon-scroll:after {
    border-top-color: rgb(226, 19, 19) !important;
    margin-left: -20px;
    border-width: 20px;
    }*/
#icon-scroll img{
    position: absolute;
    top: 83vh;
    height: 20vh;
    width: 20vw;
    left: 41.5vw;
}

/************************************************************/
/*******************BLOCK SKILLS***************************/
/************************************************************/
#section1{
    background-image: url(../css/images/image.jpg);
    background-size: cover;
    height: 100vh;
}

/************************************************************/
/********************HARD SKILLS***************************/
/************************************************************/

#hardSkills{
    /*background-color: rgba(0, 0, 0, 0.287);*/
    height: 85vh;
    margin: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-top: 2vh;
}

#techno{
    /*background-color: aqua;*/
    height: 56vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 5vh;
}
.flip-box {
    background-color: rgba(255, 255, 255, 0);
    width: 27vw;
    height: 55vh;
    perspective: 1000px;
} 
.flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}  
.flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
} 
.flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
} 
.flip-box-front {
    background-color: #fff;
    /*background-color: inherit;*/
    color: black;
    border-radius: 10px 10px 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25),
                        -5px -5px 10px rgb(244, 246, 248);
}
.flip-box-front h4{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: normal;
    margin-top: 5vh;
    font-size: 2em;
}  
.flip-box-back {
    background-color: #fff;
    color: black;
    border-radius: 10px 10px 10px;
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.25),
                        5px 5px 10px rgb(244, 246, 248);
    transform: rotateY(180deg);
}
.flip-box-back h4{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: normal;
    margin-top: 5vh;
    font-size: 2em;
}
.techno-icon{
    height: 37vh;
    display: grid;
    grid-template-columns: auto auto auto;
    padding-left: 3.3vw;
    padding-top: 2vh;
}

#capacity{
    /*background-color: rgb(255, 136, 0);*/
    height: 20vh;
    /*display: flex;
    flex-direction: row;
    justify-content: space-around;*/
}
#capacity-icon1-glob{
    height: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
.capacity-icon1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
}
.capacity-icon1 p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: calc(29px + (52 - 36) * ((100vw - 1024px) / (1920 - 1024)));;
    text-align: center;
}
#capacity-icon2-glob{
    display: none;
    height: 20vh;
    flex-direction: row;
    justify-content: space-around;
    
}
.capacity-icon2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.capacity-icon2 p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: calc(29px + (52 - 36) * ((100vw - 1024px) / (1920 - 1024)));;
    text-align: center;
}
/************************************************************/
/**********************SOFT SKILLS*************************/
/***********************************************************/

#softSkills{
    /*background-color: bisque;*/
    height: 85vh;
    margin: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-top: 2vh;
}
.scrollable-content{
    /*background-color: bisque;*/
    height: 90vh;
    overflow: scroll;
    scroll-behavior: smooth;
    margin: 1vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-top: 1vh;
}
#personality{
    background-color: #fff;
    height: 57vh;
    margin-bottom: 2vh;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25),
                        -5px -5px 10px rgb(244, 246, 248);
    text-align: center;
}
#personality h4{
    font-size: 2em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: normal;
    margin-top: 2vh;
    margin-bottom: 1vh;
}
#personality-in{
    /*background-color: red;*/
    height: 45vh;
    padding-top: 3.3vh;
    display: grid;
    grid-template-columns: auto auto auto;
}
#hobbys{
    background-color: #fff;
    height: 29vh;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25),
                        -5px 5px 10px rgb(244, 246, 248);
    text-align: center;
}
#hobbys h4{
    font-size: 2em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: normal;
    margin-top: 2vh;
    margin-bottom: 4vh;
}
#hobbys-in{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.soft-skills-icon p{
    font-size: 2em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/******************************************************************************/
/***************************PROFIL********************************************/
/******************************************************************************/

#profil{
    /*background-image: url(../css/images/fond_profil.jpg);*/
    background:  #111111;
    background-size: cover;
    height: 100%;
}
#profil-in{
    /*background-color: blue;*/
    padding-top: 8vh;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#profil-left{
    /*background-color: red;*/
    color: #fff;
    width: 48vw;
    height: 90vh;
    display: flex;
    justify-content: center;
}
#profil-left img{
    border: 1px solid #28272700;
-webkit-appearance: none;
box-shadow: -12px -12px 20px rgba(26, 25, 25, 0.8), 10px 10px 24px rgba(0, 0, 0, 0.7);
height: 60vh;
width: 40vw;
border-radius: 10px;
margin-top: 15vh;
}
#profil-right{
    /*background-color: aqua;*/
    color: #424040;
    width: 48vw;
    height: 90vh;
}
#profil-right h2{
    margin-top: 2vh;
    font-size: calc(56px + (52 - 36) * ((100vw - 1024px) / (1920 - 1024)));
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: -webkit-linear-gradient(rgb(6,163,252), rgb(6,222,252));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 2.5vh;
    padding: 10px;
}
#profil-right p{
    width: 40vw;
    text-align: justify;
    font-size: calc(21px + (52 - 36) * ((100vw - 1024px) / (1920 - 1024)));
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 1px solid #28272700;
    padding: 3vh;
    border-radius: 10px;
    height: 54.5vh;
    /*background: linear-gradient(134.17deg, #EEF1F5 4.98%, #E6E9EF 94.88%);*/
    box-shadow: inset -5px -5px 15px rgba(26, 25, 25, 0.8), inset 5px 5px 10px rgba(0, 0, 0, 0.7);
}

/*******************************************************************************/
/**********************CONTACT**********************************************/
/*****************************************************************************/

#contact{
    background: linear-gradient(118.47deg, #E9EDF0 0.61%, #E9EDF0 100%);
    background-size: cover;
    height: 100%;
}
#contact-block{
    height: 100vh;
    /*background-color: bisque;*/
    padding-top: 13vh;
    display: flex;
    flex-direction: column;
}
#form{
    background: linear-gradient(118.47deg, #E9EDF0 0.61%, #E9EDF0 100%);
    /*background-image: linear-gradient(to right, rgba(4, 94, 240, 0.411), rgba(255, 255, 255, 0.589));*/
    width: 60vw;
    height: 75vh;
    margin-bottom: 8vh;
    align-self: center;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25),
                        -5px -5px 10px rgb(244, 246, 248);
}
#form h2{
    font-size: calc(56px + (52 - 36) * ((100vw - 1024px) / (1920 - 1024)));
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    margin-top: 2vh;
    background: -webkit-linear-gradient(rgb(6,163,252), rgb(6,222,252));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /*text-shadow:
    0 0 5px rgb(181, 222, 245),
    0 0 10px rgb(202, 226, 240),
    0 0 20px rgb(245, 246, 247),
    0 0 40px rgb(250, 251, 252);*/
    /*font-weight: bold;*/
}
form{
    display: flex;
    flex-direction: column;
    height: 60vh;
    margin-top: 3vh;
}
input[type=text],
input[type=email]{
    width: 50vw;
    height: 8vh;
    border-radius: 10px;
    align-self: center;
    margin-bottom: 2vh;
    border: 1px solid rgba(255, 255, 255, 0);
    -webkit-appearance: none;
    /*box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25),
                        -5px -5px 10px rgb(244, 246, 248);*/
    background: linear-gradient(134.17deg, #EEF0F5 4.98%, #E6E9EF 94.88%);
    box-shadow: -12px -12px 20px rgba(255, 255, 255, 0.8), 10px 10px 24px rgba(166, 180, 200, 0.7);
                        /*border-radius: 40px;*/
    padding-left: 2vw;
    color: black;
    font-size: 1em;
}
textarea{
    width: 50vw;
    height: 25vh;
    border-radius: 10px;
    align-self: center;
    margin-bottom: 2vh;
    border: 1px solid rgba(255, 255, 255, 0);
    -webkit-appearance: none;
    background: linear-gradient(134.17deg, #EEF0F5 4.98%, #E6E9EF 94.88%);
    box-shadow: -12px -12px 20px rgba(255, 255, 255, 0.8), 10px 10px 24px rgba(166, 180, 200, 0.7);
    /*box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25),
                        -5px -5px 10px rgb(244, 246, 248);*/
    
    padding-left: 2vw;
    padding-top: 2vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5em;
    color: rgba(5, 5, 5, 0.568);
}
#sendMsg{
    /*background-color: aqua;*/
    width: 50vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 6vw;
}
button[type=tel]{
    width: 70px;
    height: 70px;
    border-radius: 40px;
    border: 1px solid rgba(255, 255, 255, 0);
    /*background-image: linear-gradient(to right, rgb(6,163,252), rgb(6,222,252));*/
    -webkit-appearance: none;
    background: linear-gradient(134.17deg, #EEF0F5 4.98%, #E6E9EF 94.88%);
    box-shadow: -12px -12px 20px rgba(255, 255, 255, 0.8), 10px 10px 20px rgba(166, 180, 200, 0.7);
    color: #fff;
    font-size: 2em;
}
button[type=submit]{
    width: 10vw;
    height: 5vh;
    margin-top: 1.55vh;
    border-radius: 40px;
    border: 1px solid rgba(255, 255, 255, 0);
    /*background-image: linear-gradient(to right, rgb(6,163,252), rgb(6,222,252));*/
    -webkit-appearance: none;
    background: linear-gradient(134.17deg, #EEF0F5 4.98%, #E6E9EF 94.88%);
    box-shadow: -12px -12px 20px rgba(255, 255, 255, 0.8), 10px 10px 20px rgba(166, 180, 200, 0.7);
    color: rgb(10, 110, 241);
    font-size: 1em;
}
button[type=tel]:hover,
button[type=submit]:hover,
input[type=text]:focus,
input[type=email]:focus,
input[type=text]:hover,
input[type=email]:hover{
    -webkit-appearance: none;
    box-shadow: inset -5px -5px 15px rgba(255, 255, 255, 0.75), inset 5px 5px 10px rgba(166, 180, 200, 0.75);
    outline: none;
}
textarea:focus,
textarea:hover{
    box-shadow: inset -5px -5px 15px rgba(255, 255, 255, 0.75), inset 5px 5px 10px rgba(166, 180, 200, 0.75);
    outline: none;
}
footer{
    background-color: rgb(0, 0, 0);
    height: 5vh;
    box-shadow: 0px -10px 10px rgba(0, 0, 0, 0.25);
}
footer p{
    color: rgba(245, 248, 248, 0.719);
    /*text-shadow:
    0 0 5px rgb(6, 163, 252),
    0 0 10px rgb(6, 163, 252),
    0 0 20px rgb(6, 163, 252),
    0 0 40px rgb(6, 222, 252),
    0 0 80px rgb(6, 222, 252);*/
    text-align: center;
    margin-top: 2vh;
    font-size: 1em;
}

.fp-scrollable{
    height: auto !important;
}