@media screen and (max-width: 1023px) and (orientation: landscape){

/********************************************************************************/
/****************************MENU HAMBURGER*********************************/
/*******************************************************************************/

    #hamburger-sidebar{
        width: 50vw;
    }
    nav ul li{
        margin-bottom: 3vh;
    }
    #hamburger-button{
        margin-top: 5vh;
    }

    /*********************************************************************************/
/******************************CONTROLE SCROLL********************************/
/********************************************************************************/

/*.fp-scrollable{
    height: auto !important;
}*/
#slide1 .fp-scrollable{
    height: 100vh !important;
}
#slide2 .fp-scrollable{
    height: 100vh !important;
}
    
/********************************************************************************/
/******************************ACCEUIL*****************************************/
/*******************************************************************************/

    #rightHeader{
        margin-top: 12vh;
    }
    #rightHeader img{
        width: 40vw;
    }
    #leftHeader{
        margin-top: 12vh;
        height: 70vh;
        padding-top: 10vh;
    }
    #leftHeader h1{
        font-size: calc(26px + (48 - 26) * ((100vw - 360px) / (1024 - 360)));
    }
    #leftHeader h2{
        font-size: calc(26px + (48 - 26) * ((100vw - 360px) / (1024 - 360)));
        height: 25vh;
    }
    #leftHeader button{
        font-size: calc(1px + (48 - 26) * ((100vw - 360px) / (1024 - 360)));
    }
    .icon-scroll{
        width: 30px;
        height: 60px;
    }

/****************************************************************************/
/*************************HARDSKILLS***************************************/
/****************************************************************************/

#hardSkills{
    height: 885vh;
    padding-top: 0;
    /*padding-left: 6vh;*/
}
#techno{
    height: 336vh;
    flex-direction: column;
    padding-left: 4vw;
    padding-top: 0;
}
.flip-box{
    width: 80vw;
    height: 100vh;
}
.techno-icon{
    padding-left: 10.3vw;
}
#capacity{
    height: 150vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 5vh;
}
#capacity-icon1-glob{
    height: 160vh;
    flex-direction: column;
}
#capacity-icon2-glob{
    display: flex;
    height: 160vh;
    flex-direction: column;
}

/*****************************************************************************/
/*****************************SOFTSKILLS************************************/
/*****************************************************************************/

#softSkills{
    height: 485vh;
}
#personality{
    height: 217vh;
}
#personality-in{
    height: 190vh;
    grid-template-columns: auto auto;
    margin-top: 10vh;
}
#hobbys{
    margin-top: 5vh;
    height: 110vh;
}
#hobbys-in{
    display: grid;
    grid-template-columns: auto auto;
    height: 100vh;
}

}

/*****************************************************************************/
/**************************PORTRAIT*****************************************/
/*****************************************************************************/

@media screen and (max-width: 1023px) and (orientation: portrait){

/******************************************************************************/
/**************************MENU HAMBURGER*********************************/
/*****************************************************************************/

#navBar{
    margin-top: 2vh;
    height: 80vh;
}
nav{
    padding-left: 15vw;
}
nav ul li{
    margin-bottom: 13vh;
}
/*#hamburger-button{
    margin-top: 5vh;
}*/
/*********************************************************************************/
/******************************CONTROLE SCROLL********************************/
/********************************************************************************/

.fp-scrollable{
    height: auto !important;
}
#slide1 .fp-scrollable{
    height: 100vh !important;
}
#slide2 .fp-scrollable{
    height: 100vh !important;
}
#section4 .fp-scrollable{
    height: 100vh !important;
}
.fp-scroller{
    height: fit-content;
}

/******************************************************************************/
/***************************ACCUEIL******************************************/
/*****************************************************************************/

    #globaleHeader{
        flex-direction: column;
        justify-content: start;
    }
    .switch {
        position: relative;
        display: inline-block;
        width: 50px;
        height: 20px;
        top: 4vh;
        left: 79vw;
      }
      
      .switch input { 
        opacity: 0;
        width: 0;
        height: 0;
      }
      
      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #222;
        box-shadow: inset -2px -2px 2px rgba(53, 52, 52, 0.8),  inset 3px 3px 3px rgba(0, 0, 0, 0.7);
        -webkit-transition: .4s;
        transition: .4s;
      }
      .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        bottom: -0.7vh;
        background-color: #222;
        box-shadow: -2px -2px 2px rgba(53, 52, 52, 0.8), 3px 3px 3px rgba(0, 0, 0, 0.7);
        -webkit-transition: .4s;
        transition: .4s;
      }
      
      /*.switch input:checked + .slider {
        background-color: #2196F3;
        box-shadow: inset -2px -2px 2px rgba(116, 174, 240, 0),  inset 3px 3px 3px rgba(5, 151, 248, 0);
      }
      
      input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
      }*/
      
      input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
      }
      
      /* Rounded sliders */
      .slider.round {
        border-radius: 34px;
      }
      
      .slider.round:before {
        border-radius: 50%;
      }
    #display-mobile{
        /*display: block;
        position: absolute;
        top: 5vh;
        left: 80vw;
        cursor: pointer;*/
        display: block;
        position: absolute;
        top: 3.5vh;
        left: 80vw;
        background-color: inherit;
        color: #fff;
        border: 1px solid #28272700;
        border-radius: 100px;
        cursor: pointer;
        height: 4vh;
        width: 7vw;
        
    }
    #display_on_off{
        display: block;
        position: absolute;
        top: 4.4vh;
        left: 81.5vw;
        cursor: pointer;
        height: 2vh;
        width: 3.5vw;
        border-radius: 40px;
        transform: rotate(-90deg);
    }
    .spanOff{
        background: linear-gradient(108.3deg, #1B9BE8 23.49%, #0D6CE6 76.7%);
        box-shadow: inset 5px -4px 10px #3185D0;
    }
    .spanOn{
        box-shadow: inset 5px -4px 10px #6b6c6d;
    }
    .displayOff{
        box-shadow: -2px -2px 0px rgba(26, 25, 25, 0.8), 3px 3px 2px rgba(0, 0, 0, 0.7);
    }
    .displayOn{
        box-shadow: inset -3px -3px 0px rgba(26, 25, 25, 0.8), inset 1px 1px 2px rgba(0, 0, 0, 0.7);
    }
    #rightHeader{
        /*display: none;*/
        height: 60vh;
        width: 90vw;
        margin-left: 5%;
        margin-top: 8vh;
    }
    #rightHeader img{
        height: 65vh;
        width: 180vw;
        margin-top: 0vh;
        margin-right: 3.5vw;
    }
    #leftHeader{
        display: none;
        height: 60vh;
        width: 90vw;
        margin-top: 8vh;
        margin-left: 4.9vw;
        
    }
    #leftHeader h1{
        font-size: calc(46px + (48 - 26) * ((100vw - 360px) / (1024 - 360)));
    }
    #leftHeader h2#titre1{
        width: 80vw;
    }
    #leftHeader h2#titre2{
        width: 80vw;
        font-size: calc(35px + (52 - 36) * ((100vw - 1024px) / (1920 - 1024)));
    }
    #leftHeader h2{
        font-size: calc(26px + (48 - 26) * ((100vw - 360px) / (1024 - 360)));
        height: 4vh;
    }
    #leftHeader button{
        font-size: calc(14px + (48 - 26) * ((100vw - 360px) / (1024 - 360)));
        width: 15vw;
        
    }
    #icon-scroll img{
        top: 77vh;
        left: 46vw;
    }

/*************************************************************/
/*************************HARD-SKILLS***********************/
/*************************************************************/

#hardSkills{
    height: 280vh;
    margin: 0;
    padding-top: 0;
}
#techno{
    min-height: 180vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-self: center;
}
.flip-box{
    width: 91.5vw;
}
.flip-box-front{
    width: 90vw;
    margin-left: 1vw;
}
.flip-box-back{
    width: 90vw;
}
.techno-icon{
    padding-left: 7.3vw;
}
#capacity{
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#capacity-icon1-glob{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: fit-content;
    min-height: 80vh;
}
.capacity-icon1{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#capacity-icon2-glob{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: fit-content;
    min-height: 80vh;
}

/***********************************************************/
/***********************SOFT-SKILLS***********************/
/**********************************************************/

#softSkills{
    height: 180vh;
    width: 100vw;
    margin: 0;
    align-items: center;
    /*margin-left: 1vh;*/
}
#personality{
    width: 85vw;
    height: 95vh;
    margin-top: 8vh;
}
#personality-in{
    height: 80vh;
    grid-template-columns: auto auto;
}
#hobbys{
    min-height: 60vh;
    margin-bottom: 5vh;
    width: 85vw;
}
#hobbys-in{
    display: grid;
    grid-template-columns: auto auto;
    gap: 5vh 0;
    height: 40vh;
}
/***********************************************************************/
/*************************PROFIL***************************************/
/**********************************************************************/
#profil-in{
    flex-direction: inherit;
}
#profil-left{
    display: none;
}
#profil-right {
    width: 90vw;
    margin-left: 5vh;
}
#profil-right h2{
    margin-top: 0vh;
    text-align: center;
}
#profil-right p{
    width: 90vw;
    text-align: inherit;
    font-size: calc(32px + (52 - 36) * ((100vw - 1024px) / (1920 - 1024))) ;
}

/**********************************************************************************/
/*********************************CONTACT***************************************/
/*********************************************************************************/
#contact{
    height: 145vh;
}
#contact-block{
    height: 140vh;
    padding-top: 9vh;
}
#form{
    width: 90vw;
}
#form h2{
    font-size: calc(46px + (52 - 36) * ((100vw - 1024px) / (1920 - 1024))) ;
}
input[type=text],
input[type=email]{
    width: 70vw;
    -webkit-appearance: none;
}
textarea{
    width: 70vw;
    -webkit-appearance: none;
    margin-bottom: 4vh;
}
#sendMsg{
    width: 65vw;
    margin-left: 15vw;
}
button[type=tel]{
    height: 40px;
    width: 40px;
}
button[type=submit]{
width: 30vw;
}
footer{
    height: 55vh;
}
}

/************************************************************/
/***************SMARTPHONE*******************************/
/**********************************************************/

@media screen and (max-width : 414px) and (orientation: portrait){
    .personality-icon_img img{
        width: 15vh;
    }
    .soft-skills-icon p{
        font-size: calc(24px + (48 - 26) * ((100vw - 360px) / (1024 - 360)));;
    }
}
