@media screen and (max-width: 1023px) and (orientation: landscape){

/********************************************************************************/
/****************************MENU HAMBURGER*********************************/
/*******************************************************************************/

    #hamburger-sidebar{
        width: 50vw;
    }
    nav ul li{
        margin-bottom: 3vh;
    }
    /*#hamburger-button{
        margin-top: 5vh;
    }*/

    /*********************************************************************************/
/******************************CONTROLE SCROLL********************************/
/********************************************************************************/

/*.fp-scrollable{
    height: auto !important;
}*/
#slide1 .fp-scrollable{
    height: 100vh !important;
}
#slide2 .fp-scrollable{
    height: 100vh !important;
}
    
/********************************************************************************/
/******************************ACCEUIL*****************************************/
/*******************************************************************************/
.switch{
    display: inline-block;
    left: 86vw;
    top: 6vh;
}
    #rightHeader{
        margin-top: 12vh;
        width: 90vw;
        border: 1px solid #28272700;
        -webkit-appearance: none;
        box-shadow: -2px -2px 2px rgba(53, 52, 52, 0.8), 3px 3px 3px rgba(0, 0, 0, 0.7);
        border-radius: 10px;
    }
    #rightHeader img{
        width: 70vw;
        margin-left: 8vw;
    }
    #leftHeader{
        display: none;
        margin-top: 10vh;
        height: 65vh;
        width: 90vw;
        border: 1px solid #28272700;
        border-radius: 10px;
        box-shadow: inset -4px -4px 0px rgba(53, 52, 52, 0.8), inset 1px 1px 5px rgba(0, 0, 0, 0.7);
        /*padding-top: 10vh;*/
    }
    #leftHeader h1{
        font-size: calc(26px + (48 - 26) * ((100vw - 360px) / (1024 - 360)));
    }
    #leftHeader h2{
        font-size: calc(26px + (48 - 26) * ((100vw - 360px) / (1024 - 360)));
        height: 25vh;
    }
    #leftHeader h2#titre1{
        width: 80vw;
        height: 15vh;
        border-radius: 60px;
    }
    #leftHeader h2#titre2{
        width: 80vw;
        height: 15vh;
        border-radius: 60px;
    }
    #leftHeader button{
        font-size: calc(10px + (48 - 26) * ((100vw - 360px) / (1024 - 360)));
        padding: 0;
        height: 11vh;
        width: 22vw;
    }
    #leftHeader button img{
        height: 9vh;
    }
    #leftHeader button span{
        bottom: 2vh;
        left: 1.5vh;
    }
    #icon-scroll img{
        top: 82vh;
        height: 30vh;
    }

/****************************************************************************/
/*************************HARDSKILLS***************************************/
/****************************************************************************/

#hardSkills{
    height: 500vh;
    padding-top: 0;
    /*padding-left: 6vh;*/
    flex-direction: column;
    justify-content: flex-start;
}
#techno{
    height: 336vh;
    flex-direction: column;
    padding-left: 4vw;
    padding-top: 0;
}
.flip-box{
    width: 80vw;
    height: 100vh;
}
.techno-icon{
    padding-left: 10.3vw;
}
.techno-icon img{
    height: 25vh;
    padding-bottom: 20px;
}
#capacity{
    height: 150vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /*margin-top: 5vh;*/
}
#capacity-icon1-glob{
    height: 160vh;
    flex-direction: column;
}
#capacity-icon2-glob{
    display: flex;
    height: 160vh;
    flex-direction: column;
}
.capacity-icon1 img,
.capacity-icon2 img{
    height: 35vh;
}
.capacity-icon1 p,
.capacity-icon2 p{
    font-size:calc(33px + (52 - 36) * ((100vw - 1024px) / (1920 - 1024))); 
}

/*****************************************************************************/
/*****************************SOFTSKILLS************************************/
/*****************************************************************************/

#softSkills{
    height: 380vh;
    width: 80vw;
    margin-left: 10vw;
}
#personality{
    height: 217vh;
    margin-top: 5vh;
}
#personality-in{
    height: 190vh;
    grid-template-columns: auto auto;
    margin-top: 10vh;
}
#hobbys{
    margin-top: 5vh;
    height: 155vh;
}
#hobbys-in{
    display: grid;
    grid-template-columns: auto auto;
    height: 100vh;
    margin-top: 10vh;
}
#personality h4,
#hobbys h4{
    font-size: 3em;
    margin-top: 5vh;
}
#personality-in{
    height: 175vh;
}
#personality-in img{
    height: 40vh;
}
#hobbys-in img{
    height: 40vh;
}
.soft-skills-icon{
    padding-bottom: 10vh;
}

/*****************************************************************************/
/*****************************PROFIL************************************/
/*****************************************************************************/
#profil-left{
    height: 70vh;
    width: 90vw;
    margin-top: 11vh;
    border-radius: 10px;
    border: 1px solid #28272700;
    -webkit-appearance: none;
    box-shadow: -2px -2px 2px rgba(53, 52, 52, 0.8), 3px 3px 3px rgba(0, 0, 0, 0.7);
}
#profil-left img{
    margin-top: 4.5vh;
}
#profil-right{
    display: none;
    width: 90vw;
    height: 70vh;
    flex-direction: column;
    border: 1px solid #28272700;
    box-shadow: inset -4px -4px 0px rgba(53, 52, 52, 0.8), inset 1px 1px 5px rgba(0, 0, 0, 0.7);
    border-radius: 10px;
}
#profil-right h2{
    font-size: calc(46px + (52 - 36) * ((100vw - 1024px) / (1920 - 1024)));
    margin-top: 0vh;
    text-align: center;
    margin-bottom: 2vh;
    padding: 0;
}
#profil-right p{
    width: 80vw;
    margin-left: 6vw;
    text-align: inherit;
    font-size: calc(25px + (52 - 36) * ((100vw - 1024px) / (1920 - 1024))) ;
}
#form{
    height: 95vh;
    width: 70vw;
    align-self: unset;
    margin-left: 20vh;
}
#form h2{
    font-size: calc(36px + (52 - 36) * ((100vw - 1024px) / (1920 - 1024)));
}
form{
    margin-top: 2vh;
    height: 70vh;
}
input[type = text],
input[type = email]{
    height: 10vh;
}
#sendMsg{
    margin-left: 31vw;
    width: 30vw;
    margin-top: 1vh;
}
button[type=submit],
button[type=reset],
button[type =tel]{
    width: 40px;
    height: 40px;
}
button[type=submit] img,
button[type=reset] img,
button[type=tel] a img{
    height: 35px;
    width: 35px;
    margin-left: -2vh;
    /*margin-top: 1.3vh;*/
}
button[type=reset] img{
    margin-left: -1.5vh;
}
#social-network{
    left: 85vw;
    height: 75vh;
    top: 12vh;
}
#social-network a{
    height: 50px;
    width: 50px;
}
#social-network img{
    height: 50px;
    width: 50px;
}
footer{
    height: 10vh;
    margin-top: 0;
}

}

/*****************************************************************************/
/**************************PORTRAIT*****************************************/
/*****************************************************************************/

@media screen and (max-width: 1023px) and (orientation: portrait){

/******************************************************************************/
/**************************MENU HAMBURGER*********************************/
/*****************************************************************************/

#navBar{
    margin-top: 2vh;
    height: 80vh;
}
nav{
    padding-left: 15vw;
}
nav ul li{
    margin-bottom: 13vh;
}
/*#hamburger-button{
    margin-top: 5vh;
}*/
/*********************************************************************************/
/******************************CONTROLE SCROLL********************************/
/********************************************************************************/

.fp-scrollable{
    height: auto !important;
}
#slide1 .fp-scrollable{
    height: 100vh !important;
}
#slide2 .fp-scrollable{
    height: 100vh !important;
}
#section4 .fp-scrollable{
    height: 100vh !important;
}
.fp-scroller{
    height: fit-content;
}

/******************************************************************************/
/***************************ACCUEIL******************************************/
/*****************************************************************************/

    #globaleHeader{
        flex-direction: column;
        justify-content: start;
    }
.switch{
    display: inline-block;
}
    #rightHeader{
        /*display: none;*/
        height: 60vh;
        width: 90vw;
        margin-left: 5%;
        margin-top: 8vh;
        border: 1px solid #28272700;
        -webkit-appearance: none;
        box-shadow: -2px -2px 2px rgba(53, 52, 52, 0.8), 3px 3px 3px rgba(0, 0, 0, 0.7);
        border-radius: 10px;
    }
    #rightHeader img{
        height: 60vh;
        width: 80vh;
        margin-top: 0vh;
        margin-left: 11.5vw;
    }
    #leftHeader{
        display: none;
        height: 60vh;
        width: 90vw;
        margin-top: 8vh;
        margin-left: 4.9vw;
        border: 1px solid #28272700;
        border-radius: 10px;
        box-shadow: inset -4px -4px 0px rgba(53, 52, 52, 0.8), inset 1px 1px 5px rgba(0, 0, 0, 0.7);
        
    }
    #leftHeader h1{
        font-size: calc(46px + (48 - 26) * ((100vw - 360px) / (1024 - 360)));
    }
    #leftHeader h2#titre1{
        width: 80vw;
        height: 8vh;
        font-size: calc(40px + (52 - 36) * ((100vw - 1024px) / (1920 - 1024)));
    }
    #leftHeader h2#titre2{
        width: 80vw;
        height: 8vh;
        font-size: calc(35px + (52 - 36) * ((100vw - 1024px) / (1920 - 1024)));
    }
    #leftHeader h2{
        font-size: calc(26px + (48 - 26) * ((100vw - 360px) / (1024 - 360)));
        height: 4vh;
    }
    #leftHeader button{
        font-size: calc(14px + (48 - 26) * ((100vw - 360px) / (1024 - 360)));
        width: 35vw;
        padding-top: 0;
        
    }
    #icon-scroll img{
        display: block;
        height: 20vh;
        width: 60vw;
        top: 70vh;
        left: 25vw;
    }

/*************************************************************/
/*************************HARD-SKILLS***********************/
/*************************************************************/

#hardSkills{
    height: 280vh;
    margin: 0;
    padding-top: 5vh;
    flex-direction: column;
    justify-content: flex-start;
}
#techno{
    min-height: 180vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-self: center;
}
.flip-box{
    width: 91.5vw;
}
.flip-box-front{
    width: 90vw;
    margin-left: 1vw;
}
.flip-box-front h4{
    font-size: 2.5em;
}
.flip-box-back{
    width: 90vw;
}
.techno-icon{
    padding-left: 7.3vw;
}
.techno-icon img{
    height: 12vh;
}
#capacity{
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#capacity-icon1-glob{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: fit-content;
    min-height: 80vh;
}
.capacity-icon1{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#capacity-icon2-glob{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: fit-content;
    min-height: 80vh;
}
.capacity-icon1 img,
.capacity-icon2 img{
    height: 20vh;
}
.capacity-icon1 p,
.capacity-icon2 p{
    font-size:calc(33px + (52 - 36) * ((100vw - 1024px) / (1920 - 1024))); ;
}
/***********************************************************/
/***********************SOFT-SKILLS***********************/
/**********************************************************/

#softSkills{
    height: 150vh;
    width: 100vw;
    margin: 0;
    align-items: center;
    /*margin-left: 1vh;*/
}
#personality{
    width: 85vw;
    /*height: 95vh;*/
    margin-top: 8vh;
}
#personality h4,
#hobbys h4{
    font-size: 1.7em;
}
#personality-in{
    height: 70vh;
    grid-template-columns: auto auto;
}
#hobbys{
    /*min-height: 60vh;*/
    height: auto;
    /*margin-bottom: 5vh;*/
    width: 85vw;
}
#hobbys-in{
    display: grid;
    grid-template-columns: auto auto;
    gap: 5vh 0;
    height: 40vh;
}
#hobbys-in img{
    height: 9vh;
}
/***********************************************************************/
/*************************PROFIL***************************************/
/**********************************************************************/
#profil-in{
    flex-direction: inherit;
}
#profil-left{
    height: 60vh;
    width: 90vw;
    margin-top: 8vh;
    border-radius: 10px;
    border: 1px solid #28272700;
    -webkit-appearance: none;
    box-shadow: -2px -2px 2px rgba(53, 52, 52, 0.8), 3px 3px 3px rgba(0, 0, 0, 0.7);
}
#profil-left img{
    width: 50vh;
    height: 50vh;
    margin-top: 4.5vh;
}
#profil-right {
    display: none;
    width: 90vw;
    height: 70vh;
    /*margin-left: 5vh;*/
    border: 1px solid #28272700;
    box-shadow: inset -4px -4px 0px rgba(53, 52, 52, 0.8), inset 1px 1px 5px rgba(0, 0, 0, 0.7);
    /*padding: 3vh;*/
    border-radius: 10px;
    flex-direction: column;
    margin-top: 8vh;
}
#profil-right h2{
    font-size: calc(46px + (52 - 36) * ((100vw - 1024px) / (1920 - 1024)));
    margin-top: 0vh;
    text-align: center;
    margin-bottom: 2vh;
    padding: 0;
}
#profil-right p{
    width: 80vw;
    margin-left: 6vw;
    text-align: inherit;
    font-size: calc(30px + (52 - 36) * ((100vw - 1024px) / (1920 - 1024))) ;
}

/**********************************************************************************/
/*********************************CONTACT***************************************/
/*********************************************************************************/
#contact{
    height: 145vh;
}
#contact-block{
    height: 140vh;
    padding-top: 9vh;
}
#form{
    width: 90vw;
    margin-top: 2vh;
}
#form h2{
    font-size: calc(46px + (52 - 36) * ((100vw - 1024px) / (1920 - 1024))) ;
}
input[type=text],
input[type=email]{
    width: 70vw;
    -webkit-appearance: none;
}
textarea{
    width: 70vw;
    -webkit-appearance: none;
    margin-bottom: 4vh;
}
#sendMsg{
    width: 70vw;
    margin-left: 10vw;
}
button[type=submit],
button[type=reset],
button[type=tel]{
    height: 50px;
    width: 50px;
}
button[type=submit] img,
button[type=reset] img,
button[type=tel] a img{
    height: 40px;
    width: 40px;
    margin-left: -0.8vh;
    margin-top: 0.8vh;
}
button[type=reset] img{
    margin-left: -0.6vh;
}
#social-network{
    top: 105vh;
    width: 70vw;
    height: 35vh;
    left: 15vw;
    flex-wrap: wrap;
    align-content: space-between;
}
#social-network a{
    box-shadow: -2px -2px 2px rgba(53, 52, 52, 0.8), 3px 3px 3px rgba(0, 0, 0, 0.7);
    margin-bottom: 2vh;
}

footer{
    height: 59vh;
    margin-top: 3vh;
    background-color: #222;
}
footer p{
    color: aliceblue;
}
}

/************************************************************/
/***************SMARTPHONE*******************************/
/**********************************************************/

@media screen and (max-width : 414px) and (orientation: portrait){
    .personality-icon_img img{
        width: 15vh;
    }
    .soft-skills-icon p{
        font-size: calc(24px + (48 - 26) * ((100vw - 360px) / (1024 - 360)));;
    }
}
